.container{
    font-family: roboto;
    height: 100%;
    width: 100%;
    background-color: rgb(233, 163, 59);
    background-size: cover;
}
.subbutton{
    height: 40%;
    width: 60%;
}
.registerform{
    margin: 10%;
    height: 450px;
}
.inputEle{
    height: 25px;
    width: 90%;
    border-width: 0.2px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.inputtext{
    font-family: roboto;
    font-size: 20px;
    margin-bottom: 10px;
}
.registration{
    text-align: center;
    margin-top: 10px;
}
.btn{
    text-align: center;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(70, 188, 234);
    font-size: 20px;
    font-family: roboto;
    color: beige;
    border-width: 1px;
}